:root {
  background-color:#6b5eba;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.contenido {
  background: #6b5ebaff;
  border: none;
  border-radius: 10px;
  width: 70vw;
  height: 110vh;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.textareas {
  background: #58a7b6ff;
  border: none;
  border-radius: 10px;
  flex: 1;
  font-family: 'Montserrat', sans-serif;
  color: white;
  /*overflow: auto hidden;*/
  padding: 0;
  resize: none;
  /*white-space: pre-wrap;*/
  width: 50%;
  z-index: 1;
  direction: ltr;
  font-size: 20px;
}
.desplazamiento {
  background: #58a7b6ff;
  border: none;
  border-radius: 10px;
  flex: 1;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  resize: none;
  font-size: 20px;
  height: 40px;
}

.codedecode,
.interaction {
  font-size: 18px;
  text-decoration: none;
  color: rgb(247, 241, 241);
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem;
  width: 5rem;
  text-align: center;
  border: none;
  background: #c18f94ff;
  border-radius: 4px;
}

.codedecode:hover,
.interaction:hover{
  cursor: pointer;
  transform: scale(1.03);
}

.mensajecopiado {
  background: #75c3cd83;
  color: #f0bdce;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  visibility: hidden;
  opacity: 0;
}

.show{
  visibility: visible;
  opacity: 1;
  transition: opacity .6s ;
}

.icon{
  color: #ffffff;
  vertical-align: middle;
  text-decoration: none;
  padding: 0px 28px;
  font-size: 25px;
}

.icon:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.social-bar{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: normal;
  flex-wrap:nowrap;
  padding: 0rem;
}

.footer-copyright{
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
  line-height: 30px;
  letter-spacing: -.02em;
  font-weight: 500;
  opacity: .5;
}
